/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import { FormattedHTMLMessage } from 'react-intl';

import use{{ properCase name }}State from './use{{properCase name}}State';
import messages from './messages';

export const {{ properCase name }} = () => {
  const {{ camelCase name }} = use{{properCase name }}State();
  return (
    <div>
      <FormattedHTMLMessage {...messages.header} />
    </div>
  );
}

export default {{ properCase name }};
